:root {
  --md-outlined-text-field-container-shape-start-start:	4px;
  --md-outlined-text-field-container-shape-start-end:	4px;
  --md-outlined-text-field-container-shape-end-start:	4px;
  --md-outlined-text-field-container-shape-end-end:	4px;
  --md-text-button-label-text-type: 2rem;
  --md-outlined-segmented-button-shape-start-start: 100px;
  --md-outlined-segmented-button-shape-start-end: 100px;
  --md-outlined-segmented-button-shape-end-end: 100px;
  --md-outlined-segmented-button-shape-end-start: 100px;
  --md-outlined-segmented-button-label-text-type: 50px;
  --md-dialog-container-color: var(--primary-color);
  --md-navigation-bar-container-color: var(--primary-color);
  #navButtons {
    --md-text-button-container-shape: 6px;
  }
}

.bodyStyles {
  background-color: var(--primary-color);
  overflow-x: hidden;
}
 
.centerLoginRegister {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  color: var(--md-sys-color-primary);
}