.primary-color {
    background-color: rgb(246, 247, 251);
}

.secondary-color {
    background-color: rgb(238, 227, 221);
}

.tertiary-color {
    background-color: rgb(255, 229, 216);
}

.quaternary-color {
    background-color: rgb(228, 199, 188);
}

.font-color {
    color: rgb(0, 0, 0);
}

.borders-color {
    border: 2px solid silver;
}

.overDiv:hover {
    opacity: 40%;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

.overButton:hover {
    opacity: 65%;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

.hrLines-color {
    border: 1px solid gray;
}
